html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:  hidden;
    transition-duration: 1s;
}

.menu {
    background: rgb(40,40,130);
    background: linear-gradient(321deg, rgba(40,40,130,1) 0%, rgba(22,57,98,1) 48%, rgba(26,66,119,1) 99%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.levels {
    background: rgb(40,40,130);
    background: linear-gradient(321deg, rgba(40,40,130,1) 0%, rgba(22,57,98,1) 48%, rgba(26,66,119,1) 99%);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.russian {

    display: flex; 
    flex-direction: column; 
}
.russian-level {
    transition-duration: 1s;
    
    opacity: 0%;
    background: lightblue;
    height: 0;
    border-radius: 5px;
    border: 1px solid #122334;
    cursor: pointer;
}


.russian:hover .russian-level{
    opacity: 100%;
    height: 30px;
    margin: 10px;
}

.english {

    display: flex; 
    flex-direction: column; 
}
.english-level {
    transition-duration: 1s;
    
    opacity: 0%;
    background: lightblue;
    height: 0;
    border-radius: 5px;
    border:1px solid #122334	;
    cursor: pointer;
}


.english:hover .english-level{
    opacity: 100%;
    height: 30px;
    margin: 10px;
}

.btn {
    margin: 10px;
    width: 200px;
    height: 50px;
}



.end-message {
    display: none;
}

.word-box {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background: lightblue;
    margin: 50px auto;
    margin-top: 0px;
    font-size: 24px;
    text-align: center;
    user-select: none;
}
.game {
    margin: 0;
    padding: 0;
    background: url(/images/backgrounds/bg1.jpg) no-repeat top/cover;



    background-position-y: -100px;
    width: 100%;
    height: 115%;
}

.health-bar {
    position: relative;
    transition-duration: 2s;
    margin: 0 auto;
    top: 40px;
    width: 200px;
    height: 25px;
    background: red;
    border: 1px solid black;
    animation: 0.2s alternate 0s 1 ;
    text-align: center;
    font-weight: bold;
}

.person {
    position: relative;
    margin: 0 auto;
    top: 70px;
    width: 300px;
    height: 400px;
    background: url(/images/alienBlue_front.png) no-repeat;
    background-size: 100%;
}

.time {
    height: 50px;
    width: 125px;
    border-radius: 10px;
    background: rgb(152, 156, 156);
    
    font-size: 24px;
    text-align: center;
    user-select: none;
}

.pause-btn {
    position: absolute;
    right: 0;
    height: 50px;
    width:50px;
    background: url(../images/icons8-пауза-48.png) no-repeat;

    
}

.errors-box {
    height: 50px;
    width: 100px;
    color: white;
    border-radius: 10px;
    background: darkred;
    font-size: 24px;
    text-align: center;
    user-select: none;
}
.score-box {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background: goldenrod;
    margin: 50px auto;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 24px;
    text-align: center;
    user-select: none;
}

.quit-box {

    width: 800px;
    height: 300px;
}

.quit-btn {
    margin: 10px;
    width: 200px;
    height: 50px;
    position: relative;
    transition-duration: 0.3s;
    transition-delay: 0;
    left: 290px;
}
.pause-window {
    position: absolute;
    top: calc(50% - 120px);
    left: calc(50% - 120px);
    background: rgb(40,40,130);
    background: linear-gradient(321deg, rgba(40,40,130,1) 0%, rgba(22,57,98,1) 48%, rgba(26,66,119,1) 99%);
    width: 250px;
    height: 250px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switch-level-msg {
    transition-duration: 0.3s;
    opacity:0;
    position: absolute;
    top: 40px;
    color: whitesmoke;
    background: rgba(128, 128, 128, 0.76);
    width: 300px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
}